*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex; 
    background-color: gray; 
    justify-content: center;
    align-items: center;

}

header div{
    width: 95%;
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
}

ul{
    display:flex;
    gap: 10px;
}