html,
body {
    margin: 0;
    height: 100%;
}

.cabecalho {
    width: 100%;

    background-color: rgb(88, 12, 82);
}

.cabecalho2 {
    background-color: rgb(110, 57, 121);
}
#pad{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-left: 10%; 
    padding-right: 10%; 
}
#DigitalCollege {
    color: aliceblue;
    text-align: center;

}

#DigitalCollege2 {
    color: rgb(88, 12, 82);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 30px;
}

#text {
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}
#circulo {
    background:rgb(110, 57, 121);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1220px;
    left: 130px;
    
}

#circulo2 {
    background:rgb(110, 57, 121);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1220px;
    left: 370px;
    
}

#circulo3 {
    background:rgb(110, 57, 121);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1220px;
    left: 250px;
    text-underline-offset: 30px;
}

#team1{
    color: rgb(110, 57, 121);
    position: absolute;
    top: 1310px;
    left: 150px;
}

#team2{
    color: rgb(110, 57, 121);
    position: absolute;
    top: 1310px;
    left: 270px;
}

#team3{
    color: rgb(110, 57, 121);
    position: absolute;
    top: 1310px;
    left: 390px;
}

#footer{
    width: 100%;
    height: 30;
    background-color: rgb(88, 12, 82);
    text-align: center;
}