*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    background-color: rgb(183, 103, 194);
    border: 0%;
    padding: 10px;
    justify-content: center;
    color: white;
}

head div{
    text-align: center;
}

#CorRoxa{
    display: flex;
    background-color: blueviolet;
    padding: 100px;
}

main{
    display: flex;
    color: blueviolet;
    padding: 30px;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    
}

.div-1{
    color: blueviolet;
    text-align: center;
}

#Texto{
    display: flex;
    justify-content: center;
    text-align: center;
}


.circles-container {
    display: flex;
    justify-content: space-around; /* ou space-between */
    margin-top: 50px; /* Apenas para espaçamento visual */
  }

.agroup{
    display: flex;
    width: 25%;
    justify-content: space-between;

}
  .circle {
    width: 100px;
    height: 100px;
    background-color: blueviolet; /* Cor de fundo do círculo */
    border-radius: 50%; /* Torna o elemento um círculo */

  }

  .Teams-container{
    display: flex;
    justify-content: space-around; /* ou space-between */
    margin-top: 50px; /* Apenas para espaçamento visual */
  }

.agroup-Teams{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.Team{
    color: blueviolet;
}
